<div id="scroll-sentinel" class="flex justify-center py-8">
    <span class="loading loading-spinner loading-lg text-primary" id="scroll-spinner"></span>
</div>
<div id="no-more-articles" class="text-center py-8 text-base-content/50 hidden">
    No more articles
</div>
